database/
*.json
answer_context_stats/
answers/*.json
answers/*.txt
batches/*.json
batches/*.txt
batches/*.jsonl
contexts/
contexts-wrong/
databases/
indexes/
llm_judge/qasper
llm_judge/qasper-databricks
qasper_eval/
queries/
tmp/
wrong_answers/